<div class="row">
  <div class="small-12 large-12 columns">
    <app-product-filter (onSearch)="filterCollection($event)"></app-product-filter>
  </div>
</div>
<div>
<app-products-collection-list
    [products]="products"
  ></app-products-collection-list>
</div>
<div class="text-center">

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Yellow Path                                                      |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Modifica el elemento <a> para que navegue a la ruta  '/reset'.   |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

  <a routerLink="/reset">Reset de productos</a>
</div>

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
| White Broken Path                                                |
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
| El padre de todos se queda con la etiqueta                       |
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!-- Confirmation alert -->
<p-confirmDialog header="AVISO" width="625" #cd></p-confirmDialog>
